html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #191919;
}

h1 {
    font-size: 32px;
}

h1, h2, h3, h4, h5 {
    color: #eaeaea;
}

p {
    font-size: 18px;
    color: #eaeaea;
}

ul {
    font-size: 18px;
    color: #eaeaea;
}

code {
    font-family: 'Source Code Pro', Menlo, Consolas, monospace;
    color: white;
    background-color: #151515;
    font-size: 16px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    overflow-x: scroll;
}

code::-webkit-scrollbar-track {
    background-color: #1C1B1B;
}

code::-webkit-scrollbar {
    background-color: #1C1B1B;
    width: 3px;
}

code::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: #4C4A4A;
    border: solid 5px #1C1B1B;
}

pre code {
    color: white;
    background-color: #111111;
    border: 1px solid #eaeaea;
    display: block;
    padding: 20px;
    overflow-x: scroll;
}

blockquote {  
    border-left: 8px solid gray;
    border-radius: 2px;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    background-color: #161611;
} 

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 15%;
    padding: 1px 16px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding-left: 4px;
    padding-right: 4px;
    color: #eaeaea;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 50px;
    padding-left: 15px;
}

tr:nth-child(even) {
    background-color: #191919;
}

tr:nth-child(odd) {
    background-color: #0d0d0d;
}

th {
    font-size: 20px;
}

.changePage {
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #1D6CAD;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: left;
}

a:link:not(.changePage):not(.lesson):not(.single) {
    color: #2BB1FF;
    text-decoration: none;
}

a:visited:not(.changePage):not(.lesson):not(.single) {
    color: #2BB1FF;
}

a:hover:not(.changePage):not(.lesson):not(.single) {
    text-decoration: underline;
}

.hiddenLink, .hiddenLink:link, .hiddenLink:visited, .hiddenLink:hover, .hiddenLink:active {
    text-decoration: none;
    color: #eaeaea;
    cursor: text;
}